ENVIRONMENT=DEV
APPLICATION_PORT=8000
APPLICATION_DB_CONTAINER=postgresdb
POSTGRES_USER=test
POSTGRES_DB=todosnake_db
POSTGRES_PASSWORD=todosnake
POSTGRES_HOST=postgresdb
POSTGRES_PORT=5432
APPLICATION_HOT=0.0.0.0
APPLICATION_APPLICATION_ROOT=/